.header {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 6vh;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
  padding: 0 1rem;
}

.burger {
  display: none;
  background: none;
  border: none;
  width: 1.25rem;
  font-size: 1.5rem;
}

.brandLogo {
  a {
    text-decoration: none;
    color: #ff7300;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.mainNav {
  ul {
    list-style: none;
    display: flex;
    li {
      a {
        font-weight: bold;
        text-decoration: none;
        padding: 1rem;
        color: #222;
        &:hover {
          border-bottom: 3px solid #ff7300;
        }
      }
    }
  }
}

.searchForm {
  position: relative;
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input {
    padding: 0.4rem 0.5rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5rem;
  }
  button {
    position: absolute;
    top: 50%;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.3rem;
    transform: translateY(-50%);
    color: #ccc;
    &:hover {
      color: #ff7300;
    }
  }
}

.searchToggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #bdbdbd;
}

.mobileSearchForm {
  display: none;
  position: absolute;
  top: 6vh;
  left: 0;
  z-index: -10;
  width: 100%;

  input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
    background: #f5f5f5;
  }

  button {
    position: absolute;
    top: 50%;
    right: 1rem;
    background: none;
    border: none;
    color: #bdbdbd;
    font-size: 1.3rem;
    transform: translateY(-50%);
  }

  &.show {
    display: block;
  }
}

.profile,
.cart {
  color: #ff7300;
  font-size: 1.4rem;
  &:hover {
    color: #ff7300;
  }
}

.cart {
  position: relative;
  span {
    position: absolute;
    top: -0.1rem;
    right: -0.5rem;
    text-decoration: none;
    background: red;
    color: #fff;
    border-radius: 5px;
    padding: 0 0.25rem;
    font-weight: bold;
    font-size: 0.6rem;
  }
}

@media (max-width: 1099px) {
  .burger {
    display: block;
  }
  .mainNav {
    position: absolute;
    top: 6vh;
    left: 0;
    background: #fff;
    z-index: 100;
    height: 94vh;
    width: 25%;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.3);
    transform: translateX(-110%);
    transition: 0.3s;
    ul {
      flex-direction: column;
      li {
        a {
          font-weight: 400;
          padding: 0.8rem 1rem;
          display: block;
          border-bottom: 1px solid #ccc;
          &:hover {
            border-bottom: 1px solid #ccc;
            color: #ff7300;
          }
        }
      }
    }

    &.show {
      transform: translateX(0);
    }
  }

  .searchForm {
    display: none;
  }

  .searchToggle {
    display: block;
  }
}

@media (max-width: 991px) {
  .mainNav {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .mainNav {
    width: 50%;
  }
}
