.sliderImage {
  height: 60vh;
}

.category {
  display: block;
  text-decoration: none;
  color: #757575;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.5);
  padding: 1rem 0;

  i {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &:hover {
    color: #ff7300;
  }
}